@model ProgramacionFinal2.Models.Alumno

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class=" text-danger"> ¿Está seguro que quiere eliminar el Alumno?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Eliminar" asp-controller="Alumno" method="post">
            <input type="hidden" asp-for="IdAlumno" />

            <div class="mb-2">
                <label class="form-label" asp-for="Matricula">Matricula</label>
                <input class="form-control form-control-sm" asp-for="Matricula" type="text" disabled/>
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Nombre">Nombre</label>
                <input class="form-control form-control-sm" asp-for="Nombre" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Apellido">Apellido</label>
                <input class="form-control form-control-sm" asp-for="Apellido" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Nacimiento">Fecha de Nacimiento</label>
                <input class="form-control form-control-sm" asp-for="Nacimiento" type="date" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="IdProvincia">Provincia</label>
                <input class="form-control form-control-sm" asp-for="IdProvinciaNavigation.Descripcion" type="text" disabled />

            </div>

            <div class="mb-2">

                <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar</button>
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Alumno">Volver</a>

            </div>

        </form>

    </div>
</div>